examples/example.py
examples/ce_models/config.json
examples/ce_models/zh_config.json
examples/ce_models/zh_vocab.txt
examples/data/cross.train.tsv
examples/data/dual.train.tsv
examples/data/dureader.para
examples/data/dureader.q
examples/data/marco.q
examples/data/marco.tp.1k
examples/de_models/config.json
examples/de_models/zh_config.json
examples/de_models/zh_vocab.txt
examples/es_example/index.py
examples/es_example/mappings.json
examples/es_example/query.py
examples/es_example/README.md
examples/es_example/requirements.txt
examples/faiss_example/index.py
examples/faiss_example/query.py
examples/faiss_example/requirements.txt
examples/faiss_example/rocketqa_service.py
examples/jina3_example/.python-version
examples/jina3_example/app.py
examples/jina3_example/README.md
examples/jina3_example/requirements.txt
examples/jina3_example/docker/cpu/Dockerfile
examples/jina3_example/docker/gpu-cuda10.2-cudnn7/Dockerfile
examples/jina3_example/docker/gpu-cuda11.2-cudnn8/Dockerfile
examples/jina3_example/flows/index.yml
examples/jina3_example/flows/query.yml
examples/jina3_example/rocketqa_encoder/config.yml
examples/jina3_example/rocketqa_encoder/executor.py
examples/jina3_example/rocketqa_encoder/manifest.yml
examples/jina3_example/rocketqa_encoder/README.md
examples/jina3_example/rocketqa_encoder/requirements.txt
examples/jina3_example/rocketqa_encoder/__pycache__/executor.cpython-37.pyc
examples/jina3_example/rocketqa_encoder/__pycache__/executor.cpython-38.pyc
examples/jina3_example/rocketqa_reranker/config.yml
examples/jina3_example/rocketqa_reranker/executor.py
examples/jina3_example/rocketqa_reranker/manifest.yml
examples/jina3_example/rocketqa_reranker/README.md
examples/jina3_example/rocketqa_reranker/requirements.txt
examples/jina3_example/rocketqa_reranker/__pycache__/executor.cpython-37.pyc
examples/jina3_example/rocketqa_reranker/__pycache__/executor.cpython-38.pyc
examples/jina3_example/static/index_template.html
examples/jina3_example/static/index.html
examples/jina3_example/static/license.txt
examples/jina3_example/static/script.js
examples/jina3_example/static/style.css
examples/jina3_example/static/templates/index.html
examples/jina3_example/toy_data/test.tsv
examples/jina_example/.dockerignore
examples/jina_example/app.py
examples/jina_example/README.md
examples/jina_example/requirements.txt
examples/jina_example/docker/cpu/Dockerfile
examples/jina_example/docker/gpu-cuda10.2-cudnn7/Dockerfile
examples/jina_example/docker/gpu-cuda11.2-cudnn8/Dockerfile
examples/jina_example/flows/index.yml
examples/jina_example/flows/query.yml
examples/jina_example/rocketqa_encoder/config.yml
examples/jina_example/rocketqa_encoder/executor.py
examples/jina_example/rocketqa_encoder/manifest.yml
examples/jina_example/rocketqa_encoder/README.md
examples/jina_example/rocketqa_encoder/requirements.txt
examples/jina_example/rocketqa_encoder/__pycache__/executor.cpython-38.pyc
examples/jina_example/rocketqa_reranker/config.yml
examples/jina_example/rocketqa_reranker/executor.py
examples/jina_example/rocketqa_reranker/manifest.yml
examples/jina_example/rocketqa_reranker/README.md
examples/jina_example/rocketqa_reranker/requirements.txt
examples/jina_example/rocketqa_reranker/__pycache__/executor.cpython-38.pyc
examples/jina_example/static/index_template.html
examples/jina_example/static/index.html
examples/jina_example/static/license.txt
examples/jina_example/static/script.js
examples/jina_example/static/style.css
examples/jina_example/toy_data/test.tsv
examples/jina_example/workspace/SimpleIndexer/0/body.bin
examples/jina_example/workspace/SimpleIndexer/0/embeddings.bin
examples/jina_example/workspace/SimpleIndexer/0/header.bin
examples/jina_example/workspace/static/index_template.html
examples/jina_example/workspace/static/index.html
examples/jina_example/workspace/static/license.txt
examples/jina_example/workspace/static/script.js
examples/jina_example/workspace/static/style.css
__pycache__/data.cpython-39.pyc
rocketqa_examples.zip
test.ipynb
